@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  color: aliceblue;
}
/* html{
  @apply scroll-smooth
} */

.btn-primary {
  @apply bg-cyan font-semibold text-li-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
