@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  color: aliceblue;
}
/* html{
  @apply scroll-smooth
} */

.btn-primary {
  @apply bg-cyan font-semibold text-li-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .aboutImg::after{
  @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full absolute bg-gray-600 -z-10
} */
.aboutImg::after {
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 20px; /* Adjust as needed */
  transform: rotate(12deg); /* Adjust the rotation angle */
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the background color and opacity */
  z-index: -10;
}

